
:root {
  --black: black;
  --grey900: #333333;
  --grey600: #6E6E73;
  --grey575: #a7a7a7;
  --grey550: #d6d6d6;
  --grey500: #dddddd;
  --grey400: #E8E8E8;
  --grey300: #ececec;
  --grey200: #f7f7f7;
  --grey100: #FBFBFB;
  --blue900: #0F73EA;
  --blue800: #257BFC;
  --blue500: #D6E7FF;
  --purple600: #510077;
  --purple500: #630090;
}


body {
  margin: 0;
  background-color: #f5f5f5;
  color: var(--grey900);
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  display: block;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

x-page{
  display: flex;
  width: '100vw';
  height: '100vh';
}

x-tbd{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: 500;
  color: var(--grey500);
}

x-menu{
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--grey200);
  width: 200px;
  min-width: 200px;
  height: 100vh;
  position: fixed;
  border-right-color: var(--grey300);
  border-right-width: 1px;
  border-right-style: solid;
}

x-logo{
  background-color: var(--purple500);
  height: 50px;
  color: white;
  font-size: 19px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

x-menu-top-link{
  font-size: 13px;
  font-weight: bold;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  /* margin-left: 6px;
  margin-right: 10px; */
  line-height: 31px;
  cursor: pointer;
  border-left-style: solid;
  border-left-width: 4px;

  /* border-right-color: var(--grey300);
  border-right-width: 1px;
  border-right-style: solid; */
}

x-menu-top-hr{
  background-color: var(--grey575);
  height: 1px;
  margin-left: 15px;
  margin-right: 10px;
}

x-menu-btm-link{
  font-weight: bold;
  color: var(--grey600);
  font-size: 13px;
  padding-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 6px;
  margin-right: 10px;
  line-height: 31px;
  cursor: pointer;
  border-left-style: solid;
  border-left-width: 4px;
}

x-menu-btm-hr{
  background-color:var(--grey575);
  /* margin-top: 10px; */
  height: 1px;
  margin-left: 15px;
  margin-right: 10px;
}

x-box{
  background-color: var(--grey300);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}


x-section-title{
  font-size: 17px;
  font-weight: bold;
  padding-left: 15px;
  line-height: 20px;
  padding-bottom: 10px;
}

x-label{
  font-size: 13px;
  font-weight: bold;
  padding-top: 17px;
  padding-left: 15px;
  padding-right: 15px;
}

x-field{
  font-size: 13px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

input[type=text]{
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: #a7a7a7;
  height: 2em;
}


textarea{
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--grey575);
  font-size: 14px;
  padding-top: .5em;
  padding-bottom: .5em;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  word-break: break-word;
  overflow: hidden;
  resize: none;
}
::placeholder {
  color: var(--grey575);
  font-size: 14px;
}


x-button-primary{
  /* margin-top: 25px; */
  min-width: 50px;
  border-style: solid;
  border-width: 2px;
  border-radius: 2em;

  padding-top: .7em;
  padding-bottom: .7em;
  padding-left: 1.4em;
  padding-right: 1.4em;

  background-color: var(--purple500);
  color: white;
  font-weight: 500;
  font-size: 13px;

  display: flex;
  justify-content: center;
  align-items: center;
}

x-button-primary:hover{
  background-color: var(--purple600);
  color: white;
  font-weight: 500;
  cursor: pointer;
}

x-button-primary:active{
  background-color: var(--purple500);
}

x-content{
  width: 100%;
  margin-left: 200px;
}

x-page-title{
  font-size: 25px;
  font-weight: bold;
  padding-left: 20px;
  line-height: 90px;
}

x-tabs{
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--grey575);
}

x-tab{
  font-size: 13px;
  font-weight: bold;
  margin-right: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  cursor: pointer;
}

x-table{
  overflow: auto;
  margin-left: 10px;
  margin-right: 10px;
}

x-row{
  margin-left: 20px;
  margin-right: 20px;
}

x-row-1{
  font-size: 13px;
  line-height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

x-row-2{
  font-size: 13px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--grey550);
}

x-event{
  display: flex;
  align-items: center;
  font-weight: bold;
}

x-row-title{
  padding-left: 0px;
}

x-event-timestamp{
  padding-right: 5px;
}

x-actions{
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--grey575);
}

x-link{
  font-weight: 500;
  color: var(--purple500);
  line-height: 30px;
  cursor: pointer;
}

x-modal-title{
  font-weight: bold;
  font-size: 25px;
}

x-modal-subtitle{
  font-size: 15px;
  padding-top: 15px;
}


.circular-chart {
  display: block;
  margin: auto;
  max-width: 50%;
  max-height: 50%;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress ease-out;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.purple .circle {
  stroke: var(--purple500);
}


.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}